<array>
    <dict>
        <key>label</key>
        <string>启用 UI 配色</string>
        <key>defaults</key>
        <string>com.yourdomain.wechatenhance</string>
        <key>key</key>
        <string>EnableCustomUI</string>
        <key>default</key>
        <true/>
        <key>cell</key>
        <string>PSSwitchCell</string>
    </dict>
    <dict>
        <key>label</key>
        <string>启用时间颜色</string>
        <key>defaults</key>
        <string>com.yourdomain.wechatenhance</string>
        <key>key</key>
        <string>EnableCustomTimeColor</string>
        <key>default</key>
        <true/>
        <key>cell</key>
        <string>PSSwitchCell</string>
    </dict>
</array>
